<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "myPet"
          class = "org.example.project.Cat">
    </bean>

    <bean id = "myPerson"
          class = "org.example.project.Person">
        <property name="pet" ref="myPet"/>

        <property name="surname" value="Ostapenko"/>
        <property name="name" value="Artem"/>
        <property name="age" value="22"/>
    </bean>

</beans>